h1 {
  font-size: 60px;
  font-weight: 600;
  color: #444;
  margin-bottom: 35px;
}

.btn-section {
  display: flex;
  gap: 25px;
}

button {
  padding: 10px 24px 12px 24px;
  font-size: 20px;
  color: #fff;
  background-color: #444;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

@media (max-width: 480px) {
  .btn-section {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 180px;
  }
}
